body {
    color: #121212;
}

.form-control:focus {
    border-color: #ce0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

#reminder-url {
    width: 220px;
    word-wrap: break-word;
}

.logo {
    height: 4.5rem;
    display: block;
    margin: auto auto 30px;
}

#tabsContent {
    margin-top: 20px;
}

#time-input {
    padding-left: 40%;
}

.nav-tabs > li.active > a {
    color: #ce0000;
    font-size: 16px;
}

.nav-tabs > li > a {
    color: #ce0000;
}

i {
    color: #ce0000;
}